<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocklin.offer.mapper.UserMapper">
    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.rocklin.offer.model.entity.User">
        <id property="id" column="id"/>
        <result property="userAccount" column="user_account"/>
        <result property="userPassword" column="user_password"/>
        <result property="userName" column="user_name"/>
        <result property="userAvatar" column="user_avatar"/>
        <result property="userProfile" column="user_profile"/>
        <result property="userRole" column="user_role"/>
        <result property="memberExpireTime" column="member_expire_time"/>
        <result property="inviterCode" column="inviter_code"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    
    <!-- 基础字段 -->
    <sql id="Base_Column_List">
        id, user_account, user_password, user_name, user_avatar, user_profile, user_role, member_expire_time, inviter_code, create_time, update_time, is_delete
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user
        (id,
        user_account,
        user_password,
        user_name,
        user_avatar,
        user_profile,
        user_role,
        member_expire_time,
        inviter_code)
        values
        (UUID_SHORT(),
        #{userAccount},
        #{userPassword},
        #{userName},
        #{userAvatar},
        #{userProfile},
        #{userRole},
        #{memberExpireTime},
        #{inviterCode})
    </insert>

    <update id="updateById">
        update user set
        <if test="userPassword !=null">
            user_password = #{userPassword},
        </if>
        <if test="userName != null">
            user_name = #{userName},
        </if>
        <if test="userAvatar != null">
            user_avatar = #{userAvatar},
        </if>
        <if test="userProfile != null">
            user_profile = #{userProfile},
        </if>
        <if test="userRole != null">
            user_role = #{userRole},
        </if>
            member_expire_time = #{memberExpireTime}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

    <select id="query" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user where user_account = #{userAccount}
    </select>

    <select id="queryByPassword" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user where user_account = #{userAccount} and user_password = #{userPassword}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user where id = #{id}
    </select>

    <select id="selectListWithLimit" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user
        <where>
            <if test="req != null">
                <if test="req.id != null">
                    and id = #{req.id}
                </if>
                <if test="req.userRole != null">
                    and user_role = #{req.userRole}
                </if>
                <if test="req.userName != null and req.userName != ''">
                    and user_name like concat('%', #{req.userName}, '%')
                </if>
                <if test="req.userAccount != null and req.userAccount != ''">
                    and user_account like concat('%', #{req.userAccount}, '%')
                </if>
                <if test="req.inviterCode != null and req.inviterCode != ''">
                    and inviter_code = #{req.inviterCode}
                </if>
            </if>
        </where>
        <choose>
            <when test="req != null and req.sortField != null and req.sortField != ''">
                order by
                <choose>
                    <when test="req.sortField == 'userId'">id</when>
                    <when test="req.sortField == 'userName'">user_name</when>
                    <when test="req.sortField == 'userAccount'">user_account</when>
                    <when test="req.sortField == 'userRole'">user_role</when>
                    <when test="req.sortField == 'inviterCode'">inviter_code</when>
                    <when test="req.sortField == 'memberExpireTime'">member_expire_time</when>
                    <when test="req.sortField == 'createTime'">create_time</when>
                    <when test="req.sortField == 'updateTime'">update_time</when>
                    <otherwise>update_time</otherwise>
                </choose>
                <choose>
                    <when test="req.sortOrder == 'asc'">ASC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                order by update_time DESC
            </otherwise>
        </choose>
        limit #{offset}, #{limit}
    </select>
    <select id="countTotal" resultType="long">
        select count(*) from user
        <where>
            <if test="req != null">
                <if test="req.id != null">
                    and id = #{req.id}
                </if>
                <if test="req.userRole != null">
                    and user_role = #{req.userRole}
                </if>
                <if test="req.userName != null and req.userName != ''">
                    and user_name like concat('%', #{req.userName}, '%')
                </if>
                <if test="req.userAccount != null and req.userAccount != ''">
                    and user_account like concat('%', #{req.userAccount}, '%')
                </if>
                <if test="req.userProfile != null and req.userProfile != ''">
                    and user_profile like concat('%', #{req.userProfile}, '%')
                </if>
            </if>
        </where>
    </select>

    <select id="selectByInviteCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user where user_name = #{inviteCode}
    </select>
</mapper>